* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #293340;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 16px;
}

.figure-container {
    fill: transparent;
    stroke: #f5f5f5;
    stroke-width: 5px;
    stroke-linecap: round;
}

.game-container {
    padding: 30px;
    position: relative;
    margin: auto;
    width: 450px;
    height: 350px;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 5px;
}

.wrong-letters-container span {
    font-size: 20px;
}

.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid #42a5f5;
    display: inline-flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 20px;
    height: 50px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0 ,0 , 0.4);
}

.popup {
    background: #2e70a5;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
}

.popup-btn {
    cursor: pointer;
    margin-top: 12px;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    color: #2e70a5;
}

.popup-btn:active {
    transform: scale(0.98);
}

.popup-btn:focus {
    outline: 0;
}

.info-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    padding: 15px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
}

.info-container.show {
    transform: translateY(-50px);
}